@page "/"

@inject HttpClient Http
@using Wellness.Client.Components.MonthsMenu
@using Wellness.Client.Components.UserParticipation.Activities.List
@using Wellness.Client.Components.Shared
@inherits Wellness.Client.Pages.IndexComponent

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatAppBarTitle>Corporate Wellness Manager</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MaterialMenu Items="@ViewModel.MainMenuItems" Icon="account_circle" OnItemSelected="@ViewModel.AccountMenuItemSelected" />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
</MatAppBarContainer>
@if (ViewModel.participation == null)
{
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
}
else
{

    <div class="main">
        <div class="content">
            <MonthsMenu OnMonthChanged="ViewModel.MonthChanged" />

            <UserActivities ActivityParticipations="@ViewModel.participation.Activities" />
        </div>
    </div>

}