@using Wellness.Model
@using System.Globalization
@inject AppState  State

    <div style="width: 100%; max-width: 360px; background-color: var(--theme-palette-background-paper);">
        <MatSelect Label="Pick a Food Group" @bind-Value="SelectedId">
            <MatOptionString></MatOptionString>
            @foreach (var activity in State.Activities)
            {
                <MatOptionString Value="@activity.Id.ToString()">@activity.Name</MatOptionString>
            }
        </MatSelect>
               
        <p>
            <MatTextField  @bind-Value="@NumberOfMinutes" Label="Number of Minutes" ></MatTextField>
        </p>
        <p>
            <MatDatePicker Label="Activity Date" TValue="DateTime" @bind-Value="@SelectedDate"></MatDatePicker>
        </p>
    </div>

@code {

    private string SelectedId { set; get; } = default;


    public string SelectedActivity { get; set; }
    public string NumberOfMinutes { get; set; }
    public DateTime SelectedDate { get; set; } = DateTime.MinValue;


}
