@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.mdc-tab i {
    vertical-align: middle;
}
.mdc-tab span.tab-label {
    vertical-align: middle;
}

.mdc-tab {
    display:inline-block;
}

.content .demo-mat-card {
    margin: 2em;
}

.points {
    color: forestgreen;
    font-size: 6em;
}

.mat-body2 p > .material-icons {
    float: right;
    font-size: 5em;
}

.mat-body2 p:nth-child(1) {
    line-height: 6em;
}

.spinning-icon {
    animation: spin-animation 1s infinite;
    display: inline-block;
}

h6 .material-icons {
    font-size: 34px;
    vertical-align: bottom;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.container {
    width: 80px;
    height: 100px;
    margin: 100px auto;
    margin-top: calc(100vh / 2 - 50px); 
}
    .container.site {
        margin-top: 75px;
    }

.block {
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: 0 10px 10px 0;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: #4d3b3b;
}

    .block:nth-child(4n+1) {
        animation: wave 2s ease .0s infinite;
    }

    .block:nth-child(4n+2) {
        animation: wave 2s ease .2s infinite;
    }

    .block:nth-child(4n+3) {
        animation: wave 2s ease .4s infinite;
    }

    .block:nth-child(4n+4) {
        animation: wave 2s ease .6s infinite;
        margin-right: 0;
    }

@keyframes wave {
    0% {
        top: 0;
        opacity: 1;
    }

    50% {
        top: 30px;
        opacity: .2;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}




.tab-form-select, .tab-form-select .mdc-select__anchor {
    width: 100%;
}

.h-rule {
    margin-top: 0;
    margin-bottom: 0;
}

.mat-checkbox > label {
    margin-bottom: 0px;
}

.mdc-dialog .mdc-dialog__container {
    width: 100%;
}

.mdc-dialog .mdc-dialog__surface {
    max-width: none;
    width: 70%;
}

.demo-mat-card {
    margin:9px;
}

.demo-mat-card-content {
    padding: 1rem;
}

.demo-mat-card-clean-margin {
    margin: 0px;
}

.wellness-table-row {
}

.mdc-table th {
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: 600;
}

.mdc-table td {
    padding: 5px 10px;
    font-size: 0.8em;
}

.wellness-table thead th {
    white-space: nowrap;
}

.wellness-table tbody td {
    white-space: nowrap;
}

.wellness-table tr td:nth-child(2) {
    width:60%;
}


@media (min-width:0px) and (orientation: landscape) {
    .persistent-left-drawer-header {
        min-height: 48px;
    }
}

@media (min-width:600px) {
    .persistent-left-drawer-header {
        min-height: 64px;
    }
}

.persistent-left-content {
    padding: 24px;
    flex-grow: 1;
    transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: 0px;
}

.persistent-left-content-shifted {
    transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    margin-left: 240px;
}



html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: ghostwhite;
}

.demo-custom-table-row:nth-of-type(odd) {
    background-color: var(--theme-palette-background-default);
}

.demo-custom-table-cell.TableCell-Head {
    background-color: var(--theme-palette-common-black);
    color: var(--theme-palette-common-white);
}

.demo-custom-table-cell.TableCell-Body {
    font-size: 14px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    margin-top: 80px; 
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 0.1rem;
}


.month-menu-item {
    width: 160px;
    text-align: center;
    justify-content: center;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div.content {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
